# OAuth2 configuration for Google
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>
APP_BASE_URL=<HOST_NAME>
OAUTH_REDIRECT_URL=<HOST_NAME>/auth/google/callback

# Mongodb
MONGO_URI=mongodb+srv://<DB_USER>:<MONGODB_ATLAS_PASSWORD>@go-chat.jn0sdwq.mongodb.net/?appName=<APP_NAME>