# OAuth2 configuration for Google
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>

# Mongodb
MONGO_URI=mongodb+srv://pritgomes_db_user:<MONGODB_ATLAS_PASSWORD>@go-chat.jn0sdwq.mongodb.net/?appName=go-chat